@model LoginManagement.User

@{
    ViewBag.Title = "UserInformation";
}

<div class="row col-lg-6 col-lg-offset-3">
    <div class="panel panel-default" style="margin-top:15px;">
        <div class="panel-heading">
            <label>@Model.FirstName @Model.LastName</label>
            <div class="pull-right">
                <button class="btn btn-info btn-sm" type="submit" onClick="window.open('@Url.Action("DownloadPDF", "Connection", new { idUser = @Model.Id})')" name="button" value="pdf">Exporter en pdf </button>
            </div>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Matricule</dt>
                <dd>@Model.RegNumber</dd>
                <dt>Section</dt>
                <dd>@Model.Section1.Name</dd>
                <dt>Login</dt>
                <dd>@Model.Login</dd>
                <dt>Mot de passe</dt>
                <dd>@Model.Password</dd>
                <dt>Email</dt>
                <dd>@Model.Email</dd>
                <dt>Programmes</dt>
                <dd>
                    @{
                        if (Model.Profile1.Softwares != null && Model.Profile1.Softwares.Count != 0)
                        {
                            foreach (var s in Model.Profile1.Softwares)
                            {
                                <div>@s.Name</div>
                            }
                        }
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>

